*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}
body{
    z-index: 1;
    position: relative;
}

/* header */
header{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    z-index: 99;
    position: relative;
}

header img{
    width: 37px;
    margin: 15px 0 10px 0;
}

header h1{
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 12px;
    padding: 0 25px;
}

header p{
    padding: 0 25px;
}

/* All boxes style */
.input-box{
    padding: 20px;
    margin: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    z-index: 99;
    position: relative;
    background-color: white;
    box-shadow: 0 4px 6px 4px #61616152;
}

.input-box h2{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 13px;
}

.input-box p{
    color: rgb(94, 94, 94);
    margin-bottom: 3px;
}

form{
    display: flex;
    flex-direction: column;
}

.typenumb{
    padding: 14px 20px;
    border-radius: 15px;
    border: 1px solid rgb(94, 94, 94);
    margin-bottom: 20px;
    outline: none;
    font-weight: 500;
}

.typenumb:focus{
    border: 2px solid #007e71;
}

.typenumb::placeholder{
    font-size: 18px;
    color: #009688;
    font-weight: 500;
    text-align: end;
}

.validation{
    display: none;
    margin-top: -20px;
    font-size: 14px;
    color: red;
    font-weight: 450;
    padding-left: 4px;
    margin-bottom: 5px;
}

.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn input{
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #8f8f8f;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
}

.btn input:hover{
    background-color: #00968769;
}

/* Background on top of the page */
#header-background{
    height: 470px;
    width: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,1) 10%, rgba(0, 150, 135, 0.60)90%);
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    border-radius: 0 0 24px;
}

/* Table div */
#table-div h2{
    margin: 10px 20px 8px 20px;
    font-weight: 500;
    font-size: 20px;
}

#table-header{
    display: flex ;
    flex-direction: row;
    border: 1px solid rgb(41, 41, 41);
    background-color: #0096878e;
    padding: 10px 15px;
    justify-content: space-between;
    margin: 5px 20px 0px;
    font-weight: 500;
    border-radius: 5px 5px 0px 0px;
}

.hide{
    display: none;
}

table{
    margin: 0 20px;
    width: auto;
    border-collapse: collapse;
}

table th{
    font-weight: 400;
    width: 33vw;
    background-color: #d4d4d4;
    padding: 4px;
    border: 1px solid rgb(88, 88, 88);
}

table td{
    border: 1px solid rgb(88, 88, 88);
    padding: 3px 3px 3px 10px;
}
