*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}
body{
    z-index: 1;
    position: relative;
}

/* header */
header{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    z-index: 99;
    position: relative;
}

header img{
    width: 37px;
    margin: 15px 0 10px 0;
}

header h1{
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 12px;
    padding: 0 34px;
}

header p{
    padding: 0 25px;
}

/* All boxes style */
.input-box{
    padding: 20px;
    margin: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    z-index: 99;
    position: relative;
    background-color: white;
    box-shadow: 0 4px 6px 4px #61616152;
}

.input-box h2{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 13px;
}

.input-box p{
    color: rgb(94, 94, 94);
    margin-bottom: 3px;
}

form{
    display: flex;
    flex-direction: column;
}

.typenumb{
    padding: 14px 20px;
    border-radius: 15px;
    border: 1px solid rgb(94, 94, 94);
    margin-bottom: 20px;
    outline: none;
    font-weight: 500;
    text-transform: capitalize;
}

.typenumb:focus{
    border: 2px solid #007e71;
}

.typenumb::placeholder{
    font-size: 18px;
    color: #009688;
    font-weight: 500;
    text-align: end;
}

.validation{
    display: none;
    margin-top: -20px;
    font-size: 14px;
    color: red;
    font-weight: 450;
    padding-left: 4px;
    margin-bottom: 5px;
}

.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn input{
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #8f8f8f;
    font-size: 15px;
    font-weight: 550;
    transition: 0.3s;
    cursor: pointer;
    color: #00645a;
}

.btn input:hover{
    background-color: #00968769;
}

/* Background on top of the page */
#header-background{
    height: 470px;
    width: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,1) 10%, rgba(0, 150, 135, 0.60)90%);
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    border-radius: 0 0 24px;
}

/* Table div */
.table-title{
    margin: 10px 20px 8px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table-title button{
    background-color: #01bdaa0c;
    border: 1px solid #007e71;
    border-radius: 4px;
    cursor: pointer;
    color: #009688;
    font-weight: 500;
    padding: 3px 5px;
}

.table-title h2{
    
    font-weight: 500;
    font-size: 20px;
}

#table-header{
    display: flex ;
    flex-direction: row;
    border: 1px solid rgb(41, 41, 41);
    background-color: #0096878e;
    padding: 10px 15px;
    justify-content: space-between;
    margin: 5px 20px 0px;
    font-weight: 500;
    border-radius: 5px 5px 0px 0px;
}

.hide{
    display: none;
}

table{
    position: relative;
    z-index: 3;
    margin: 0 20px;
    width: auto;
    border-collapse: collapse;
}

table th{
    font-weight: 400;
    width: 33vw;
    background-color: #d4d4d4;
    padding: 4px;
    border: 1px solid rgb(88, 88, 88);
}

table td{
    border: 1px solid rgb(88, 88, 88);
    padding: 3px 3px 3px 3px;
    text-align: center;
    text-transform: capitalize;
}


table td button{
    border-radius: 45%;
    padding: 4px;
    border: none;
    color: red;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    background-color: white;
}

.fa-solid, fa-trash-can{
    pointer-events: none;
}

.container-div{
    margin-top: 20px;
}

.image-coin{
    position: relative;
    z-index: 3;
}

.image-coin img{
    position: relative;
    z-index: 3;
    width: 100%;
}

#image-background{
    height: 300px;
    width: 100vw;
    background: linear-gradient(180deg, rgba(255,255,255,1) 10%, rgba(0, 150, 135, 0.40)90%);
    border-radius: 0 0 25px 25px;
    position: absolute;
    bottom: 0px;
    z-index: 2;
}

.text-image h2{
    padding: 20px 80px 10px 20px;
    font-size: 28px;
}

.text-image p{
    padding: 0 20px;
    margin-bottom: 40px;
    text-align: start;
}

.cards{
    margin: 30px 20px;
    padding: 15px;
    box-shadow: 0px 0px 16px 8px #00736841;
    border-radius: 15px;
}

.cards i{
    padding-right: 6px;
}

.cards p{
    padding: 12px 0px;
}

.fa-piggy-bank{
    color: pink
}

.fa-house-fire{
    color: red;
}

.fa-credit-card{
    color: rgb(153, 0, 255);
}

.fa-basket-shopping{
    color: rgb(209, 209, 36)
}

.fa-coins{
    color: green;
}

/* Tablet media screen */
@media screen and (min-width: 650px) and (max-width: 1023px){
    header p {
        font-size: large;
        padding: 0 35px;
    }

    .input-box{
        margin: 20px 30px;
    }

    #header-background{
        height: 390px;
    }

    #table-div{
        margin-top: 40px;
    }

    .table-title button{
        font-size: 16px;
    }
    
    .container-div{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .image-coin{
        width: 50%;
        margin-left: 20px;
    }

    .text-image{
        width: 50%;
    }

    #image-background{
        width: 100%;
        bottom: 0px;
        height: 200px;
    }

    .cards-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .cards{
        max-width: 44%;
        padding: 20px;
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 1024px) {
    .header-container{
        display: flex;
        height: 450px;
        align-items: center;
    }

    header{
        margin-left: 40px;
        width: 50%;
        align-items: center;
        text-align: start;
        align-items: start;
        position: relative;
        top: -50px;
    }

    header img{
        margin-bottom: 60px;
    }

    header h1{
        padding: 0;
    }

    header p {
        padding: 0;
        font-size: 1.1rem;
    }

    .input-box{
        width: 50%;
        margin: 20px 90px;
        box-shadow: 5px 6px 12px 5px #61616152;
    }

    #header-background{
        width: 80vw;
        height: 450px;
    }

    #table-div{
        margin: 40px 30px 0px;
    }

    .table-title button{
        font-size: large;
    }

    #table-header{
        font-size: 20px;
    }

    table tbody{
        font-size: 18px;
    }

    .container-div{
        display: flex;
        flex-direction: row;
        margin: 20px 30px 0px;
    }

    .image-coin{
        width: 40%;
        display: flex;
        justify-content: center; 
    }

    .image-coin img{
        height: 90%;
    }

    #image-background{
        width: 100%;
        bottom: 40px;
        height: 200px;
    }

    .text-image{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-image h2{
        padding: 0 60px;
        margin: 10px 0 30px 0;
        font-size: 2rem;
    }

    .text-image p {
        font-size: 1.2rem;
        padding: 0 60px;
    }

    .cards-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .cards{
        max-width: 400px;
        padding: 20px;
        margin-bottom: 10px;
    }

}